:root {
	--primary-cyan: #5fb4a2;
	--primary-dark-blue: #203a4c;
	--primary-grayish-dark-blue: #33323d;
	--clr-background: #fafafa;
	--clr-text-field: #eaeaeb;
	--clr-error: #f43030;
}

/* general */

* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	background-color: var(--clr-background);
}

img {
	width: 100%;
}

a {
	text-decoration: none;
}

/* typography */

body {
	font-family: 'Public Sans', sans-serif;
	color: #33323d;
}

h1,
h2,
h3 {
	font-family: sans-serif;
	font-weight: 400;
}

h1 {
	font-size: 3.125rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
}

p {
	font-size: 15px;
	line-height: 2;
}

/* buttons */

.btn {
	display: inline-block;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	font-weight: 400;
	transition: background 250ms ease-in-out;
}

.btn-dark-blue {
	padding: 1.5em 3.5em 1.5em 6.7em;
	position: relative;
	background: var(--primary-dark-blue);
	color: white;
	margin-bottom: 3rem;
}

.btn-dark-blue:hover {
	background-color: var(--primary-cyan);
}

.btn-dark-blue .img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 3rem;
	height: 100%;
	background: #1d3444;
	transition: background 250ms ease-in-out;
}

.btn-dark-blue:hover .img-container {
	background: #55a292;
}

.img-container .icon {
	stroke: #5fb4a2;
}

.btn-dark-blue:hover .img-container .icon {
	stroke: #fff;
}

.btn-white {
	color: #33323d;
	padding: 1.5em 3.5em 1.5em;
	border: 1px solid #33323d;
}

.btn-white:hover {
	background-color: #33323d;
	border: 1px solid #33323d;
	color: #fff;
}

/* layout general */

.container {
	padding: 0 2em;
}

section {
	border-bottom: 1px solid #dcdcde;
}

/* header */

.header {
	width: 100%;
	margin: 0;
	padding: 2em 1.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo-link {
	padding-left: .5em;
}

/* navigation */

.nav {
	padding: 2em;
	z-index: 10;
	position: fixed;
	background: var(--clr-background);
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 100%;
	transform: translateX(0);
	transition: transform 250ms;
}

.navigation-open {
	transform: translateX(-100%);
}

.nav-list {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
	height: 100%;
	align-items: center;
	justify-content: space-around;
	flex-direction: column;
}

.nav-link {
	color: var(--primary-grayish-dark-blue);
	font-size: 2rem;
	font-weight: 400;
	text-transform: uppercase;
	transition: color .2s ease-in-out;
}

.nav-link:hover,
.nav-link:focus {
	color: var(--primary-cyan);
}

.nav-link.active {
	color: var(--primary-cyan);
}

/*  'x' for closing nav */
.close-nav {
	border: 0;
	background: 0;
	color: var(--primary-grayish-dark-blue);
	font-weight: 700;
	font-size: 3rem;
	cursor: pointer;
	/* padding: .5em; */
	position: absolute;
}

/* hamburger for opening nav */
.open-nav {
	border: 0;
	background: 0;
	cursor: pointer;
	padding: .5em;
	margin-left: auto;
	font-size: 1.5em;
}

@media (min-width: 600px) {
	.open-nav,
	.close-nav {
		display: none;
	}

	.nav {
		position: initial;
		width: initial;
	}

	.nav-list {
		flex-direction: row;
		justify-content: flex-start;
	}

	.nav-item {
		margin-left: 2em;
	}

	.nav-link {
		font-size: 1rem;
		color: var(--primary-dark-blue);
	}
}

/* hero */

.hero {
	padding: 0 0 2em;
}

/* about */

.about {
	padding-bottom: 3em;
}

/* collaborate */

.collaborate {
	text-align: center;
	padding: 5em 0 6em;
	border-bottom: 0;
}

/* footer */

footer {
	padding: 4rem 0;
	background-color: var(--primary-grayish-dark-blue);
	color: #fff;
	text-align: center;
}

footer a {
	display: inline-block;
	color: #fff;
}

footer .logo {
	width: 61px;
	height: 32px;
	margin-bottom: 1rem;
}

footer ul {
	list-style: none;
	padding: 0;
	margin: 1em 0;
}

footer .nav-item {
	margin: 1.5rem;
}

.nav-link.nav-footer {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
}

.nav-link.nav-footer:hover {
	color: var(--primary-cyan);
}

footer .social-links {
	margin-top: 2.3rem;
}

footer .social-link {
	margin-right: .7rem;
}

footer .social-link:last-of-type {
	margin-right: 0;
}
